<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Просмотр книги [[${book.getTitle()}]]</title>
</head>

<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

<div th:if="${owner}">
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <span>Книга сейчас у: </span><span th:text="${owner.getFullName()}"></span>
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому её назначить?</span>
    <br/><br/>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать описание"/>
</form><br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить книгу"/>
</form><br/>

<a href="/books">Список книг</a>

</body>
</html>